@import url('https://fonts.googleapis.com/css?family=Mansalva|Montserrat+Alternates|Scada&display=swap');
::-moz-focus-inner, :focus, :active, ::selection {
  outline-color: transparent !important;
  outline-style: none !important;
  outline-width: 0 !important;
  -moz-outline-style: none !important;
}

a:focus, a:active {
  outline-color: transparent !important;
}

.sb-font-montserrat {
  font-family: 'Montserrat Alternates', sans-serif;
}

.sb-font-scada {
  font-family: 'Scada', sans-serif;
}

.sb-font-mansalva {
  font-family: 'Mansalva', cursive;
}

.drawer {
  transition: margin 0.2s;
}