@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');
::-moz-focus-inner, :focus, :active, ::selection {
  outline: 0!important;
}

*:focus, *:active {
  outline: none!important;
}

/* a:active, a:focus {
  outline: none !important;
  outline-color: transparent !important;
  outline-style: none !important;
  outline-width: 0 !important;
} */

/* .btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus{
  box-shadow: inherit;
} */

.pointer, .pointer > * {
  cursor: pointer !important;
}

:not(input):not(textarea):not(.selectable),
:not(input):not(textarea):not(.selectable)::before,
:not(input):not(textarea):not(.selectable)::after {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, .selectable, .selectable::before {
  -webkit-user-select: auto !important;
  user-select: auto !important;
}

.selectable, .selectable::before {
  cursor: pointer !important;
}

.shadow { 
  box-shadow: 0 0 20px #949494 !important;
}

input, button, textarea, a :focus {
  outline: none !important;
  border-color: inherit;
  box-shadow: none !important;
}

button:active, button:focus, button.acitve:active, button.active:focus {
  outline: 0 !important;
}

body {
  overflow: hidden;
}

.font-cabin {
  font-family: 'Cabin', sans-serif;
}

.rounded {
  border-radius: 15px!important;
}

.font-paytone {
  font-family: 'Paytone One', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* .card>.card-header {
  border-radius: 15px 15px 0 0;
} */

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown.open .dropdown-menu { /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
  max-height: 300px;
  opacity: 1;
}

.bg-rosa {
  background-color: #f2ad9f;
}

.bg-ruby {
  background-color: #f26968;
}

.bg-limestone {
  background-color: #dfe2d2;
}

.bg-moss, .btn-dark {
  background-color: #323339;
}

.btn-rosa {
  background-color: #f2ad9f;
  border-color: #ca7f70;
}

.btn-rosa:hover {
  background-color: #f26968;
  border-color: #f26968;
}

/* .btn-dark {
  background: linear-gradient(180deg, #323339, #1f2024, #323339);
} */

.btn-lime {
  background-color: #dfe2d2;
  border-color: #bcbeb0;
}

.btn-outline-lime {
  color: white;
  background-color: transparent;
  border-color: #282c34;
  /* border-radius: 15px; */
}

.btn {
  cursor: pointer !important;
}

.btn-primary {
  background: linear-gradient(180deg, rgb(0, 157, 216), #0083b3);
  outline: none;
}

.btn-primary:hover,
.btn-primary:active {
  box-shadow: 0 0 5px black !important;
}

.btn-outline-lime:hover, .btn-outline-lime:active, .btn-outline-lime.active {
  color: black;
  background-color: #dfe2d2;
  border-color: #bcbeb0;
}

.btn.btn-lg.btn-outline-dark, .btn.btn-lg.btn-outline-dark:active {
  padding: 1px 9px 1px 9px;
  font-size: 2rem;
  border: 0;
  outline: none !important;
}

.btn-dark:hover, .btn-dark.active, .btn-dark.active:focus, .btn-dark:active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: inset 0 0 5px rgb(77, 77, 77);
  background: linear-gradient(180deg, #1f2024, #323339);
}

.no-outline:active, .no-outline:focus,
.no-outline::-moz-focus-inner, .no-outline::-moz-focus-outer,
.no-outline::-moz-selection {
  outline: none !important;
  box-shadow: none !important;
}

.btn-group.btn-group-square>.btn {
  width: 35px;
  border-radius: 0;
  padding: 5px;
  box-shadow: 1px 1px 2px black;
  /* margin: 5px; */
}

.btn-golden {
  border: 0;
  border-top: 0!important;
  border-bottom: 0!important;
  background: linear-gradient(180deg, #ffd700, #ac703b);
  transition: transform 50ms;
}

.btn-golden:hover {
  background: linear-gradient(180deg, #e1bf00, #986131);
}

.btn-golden:active, .btn-golden:target {
  /* transform: scale(0.9); */
  background: linear-gradient(180deg, #ffd700, #ac703b);
}

.btn-golden>i {
  color: #eee;
  text-shadow: 2px 2px 1px black;
}

.btn-toolkit {
  color: #4d4d4d;
  margin: auto;
  text-align: center;
  align-items: center;
  margin: 0 5px;
  cursor: pointer !important;
  border: 1px solid rgb(224, 224, 224);
  transition: background-color 200ms, box-shadow 200ms;
}

.btn-toolkit > i::before {
  cursor: pointer !important;
}

.btn-toolkit:active, .btn-toolkit:focus, .btn-toolkit:hover {
  background-color: #eee;
}